---
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';
import { sidebarWithManualFragments } from '../lib/manual-navigation.mjs';

type SidebarEntry = (typeof Astro.locals.starlightRoute.sidebar)[number];

const sidebar = sidebarWithManualFragments(
  Astro.locals.starlightRoute.sidebar,
) as SidebarEntry[];
---

<SidebarPersister>
  <SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class="md:sl-hidden">
  <MobileMenuFooter />
</div>
